/* Ejemplo D*/

#box1 {
	position: relative;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}

#box2 {
	position: relative;
	left: 200px;
	width: 200px;
	height: 200px;
	background: #44accf;
}

#boxs3 {
	position: relative;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}